body {
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
  height: 100vh;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  color: #fff;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.highlihted-yellow {
  color: #f7d134;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: #ff7e0d;
}

a:hover {
  color: #b85907;
}

.form-control {
  background-color: #666 !important;
  color: #fff !important;
}

.customButton,
.customButton:hover {
  cursor: pointer;
  color: #f7d134;
  border-radius: 10px;
  width: 40%;
}
